
<configuration>

  <configSections>
    <sectionGroup name="hl7ValidationRulesGroup">
      <section name="hl7ValidationRules" type="NHapiTools.Base.Configuration.ValidationSection, NHapiTools.Base"/>
    </sectionGroup>
    <sectionGroup name="SpecificRulesGroup">
      <section name="SpecificRules" type="NHapiTools.Base.Configuration.MessageRulesSection, NHapiTools.Base"/>
    </sectionGroup>
  </configSections>
  
  <hl7ValidationRulesGroup>
    <hl7ValidationRules>
      <MessageRules>
        <add Name="MessageFieldMandatory" Assembly="NHapiTools.Base" Type=" NHapiTools.Base.Validation.Rule.MessageFieldMandatoryRule"/>
        <add Name="MandatorySegments" Assembly="NHapiTools.Base" Type=" NHapiTools.Base.Validation.Rule.MessageSegmentMandatoryRule"/>
      </MessageRules>
    </hl7ValidationRules>
  </hl7ValidationRulesGroup>

  <SpecificRulesGroup>
    <SpecificRules>
      <MessageFieldMandatoryRule>
        <add Name="MandatoryFieldADT_EVN-4" Version="2.3" MessageType="ADT" TriggerEvent="*" FieldIndicator="EVN-4"/>
      </MessageFieldMandatoryRule>
      <SegmentMandatoryRule>
        <add Name="MandatorySegmentADT_A01_PID" Version="2.3" MessageType="ADT" TriggerEvent="A01" MadatorySegment="PID"/>
      </SegmentMandatoryRule>
    </SpecificRules>
  </SpecificRulesGroup>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>