<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Hl7PackageCollection" type="NHapi.Base.Model.Configuration.HL7PackageConfigurationSection, NHapi.Base"/>
  </configSections>

  <Hl7PackageCollection>
    <HL7Package name="NHapi.Model.CustomZSegments" version="2.3"/>
  </Hl7PackageCollection>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>